## 1. String

**string**
  
A string is a sequence of characters, like the text MARY, that can be stored in a variable.

**string literal**

A string literal is a string value specified in the source code of a program.

**sequence type**

Sequence type: A type that specifies a collection of objects ordered from left to right.

In [2]:
#A 'Mad Libs' style game where user enters nouns,
#verbs, etc., and then a story using those words is output.

#Get user's words
relative = input('Enter a type of relative: ')
print()

food = input('Enter a type of food: ')
print()

adjective = input('Enter an adjective: ')
print()

period = input('Enter a time period: ')
print()

# Tell the story
print('My', relative, 'says eating', food)
print('will make me more', adjective)
print('so now I eat them every', period)

Enter a type of relative:  brother

Enter a type of food:  meat

Enter an adjective:  macho

Enter a time period:  day

My brother says eating meat
will make me more macho
so now I eat them every day

**len()**

The len() built-in function can be used to find the length of a string (and any other sequence type).

In [3]:
george_v = "His Majesty George V, by the Grace of God, " \
           "of the United Kingdom of Great Britain and " \
           "Ireland and of the British Dominions beyond " \
           "the Seas, King, Defender of the Faith, Emperor of India"

In [4]:
len(george_v)

185

#### string concatenation

In [5]:
string_1 = 'abc'
string_2 = '123'
concatenated_string = string_1 + string_2
print('Easy as ' + concatenated_string)

Easy as abc123

## 2. String formatting

In [9]:
two_power_two = 2**2
print(f'{two_power_two=}')

two_power_two=4

In [7]:
print(f'{2**2=}')

2**2=4

In [8]:
print(f'{{2**2}}')

{2**2}

**format specification**

A format specification inside a replacement field allows a value's formatting in the string to be customized.

**presentation type**

A presentation type is part of a format specification that determines how to represent a value in text form, such as an integer (4), a floating point (4.0), a fixed precision decimal (4.000), a percentage (4%), a binary (100), etc.

In [49]:
name = 'Aiden'
print(f'{name:s}')

Aiden

In [47]:
number = 76000
print(f'{number:,d}')

76,000

In [12]:
number = 4
print(f'{number:03d}')

004

In [13]:
number = 4
print(f'{number:f}')

4.000000

In [14]:
number = 4
print(f'{number:.2f}')

4.00

## 3. List basics

**container**

A container is a construct used to group related values together and contains references to other objects instead of data.

**list**

A list is a container created by surrounding a sequence of variables or literals with brackets [ ].

**element**

A list item is called an element .

**index**

Elements are ordered by position in the list, known as the element's index, starting with 0.

In [15]:
names = ['Daniel', 'Roxanna', 'Jean']

print(names)

['Daniel', 'Roxanna', 'Jean']

**Access an element in a list via index**

- index starts from 0 to (len(lst)-1)

In [24]:
names[0]

'Daniel'

In [27]:
names[len(names)-1]

'Jean'

In [16]:
my_nums = [5, 12, 20]
print(my_nums)

# Update a list element
my_nums[1] = -28
print(my_nums)

[5, 12, 20]
[5, -28, 20]

**method**

A method instructs an object to perform some action, and is executed by specifying the method name following a "." symbol and an object.

**append()**

The append() list method is used to add new elements to a list.

**pop() / remove()**

Elements can be removed using the pop() or remove() methods.

In [43]:
my_list = [10, 'bw']
print(my_list)

my_list.append('abc')
print(f'After append: {my_list}')

my_list.pop(0)
print(f'After pop: {my_list}')

my_list.remove('bw')
print(f'After remove: {my_list}')

[10, 'bw']
After append: [10, 'bw', 'abc']
After pop: ['bw', 'abc']
After remove: ['abc']

**Sequence-type functions**

Sequence-type functions are built-in functions that operate on sequences like lists and strings.

**Sequence-type methods**

Sequence-type methods are methods built into the class definitions of sequences like lists and strings.

In [18]:
# Concatenating lists
house_prices = [380000, 900000, 875000] + [225000]
print(f'There are {len(house_prices)} prices in the list.')

# Finding min, max
print(f'Cheapest house: {min(house_prices)}')
print(f'Most expensive house: {max(house_prices)}')

There are 4 prices in the list.
Cheapest house: 225000
Most expensive house: 900000

In [20]:
x = [1,2,2,3,2,5,2]

x.count(2) # Count the number of occurrences of the value val in the list.

4

In [21]:
x.index(2) # Find the index of the first element in the list whose value matches val.

1

## 4. tuple

A tuple stores a collection of data, like a list, but is immutable â€“ once created, the tuple's elements cannot be changed.

In [23]:
house_coordinates = (38.8977, 77.0366)
print(f'Coordinates: {house_coordinates}')
print(f'Tuple length: {len(house_coordinates)}')

# Access tuples via index
print(f'\nLatitude: {house_coordinates[0]} north')
print(f'Longitude: {house_coordinates[1]} west\n')

# Error. Tuples are immutable
house_coordinates[1] = 50

Coordinates: (38.8977, 77.0366)
Tuple length: 2

Latitude: 38.8977 north
Longitude: 77.0366 west

TypeError: 'tuple' object does not support item assignment

## 5. Set

A set is an unordered collection of unique elements.

In [34]:
# Create a set using the set() function.
nums1 = set([1, 2, 3])

# Create a set using a set literal.
nums2 = { 7, 8, 9 }

# Print the contents of the sets.
print(nums1)
print(nums2)

{1, 2, 3}
{8, 9, 7}

**add()**

The add() method places a new element into the set if the set does not contain an element with the provided value.

**remove() / pop()**

The remove() and pop() methods remove an element from the set.

In [ ]:
# Create sets
names1 = {'Pedro', 'Khan', 'Dean'}
names2 = {'Emilia', 'Kara', 'Tia'}

# Add element to set
names1.add('Hyungu')

# Add names2 to names1
names1.update(names2)

# Remove element from set
names1.remove('Dean')

# Clear all elements from set
names2.clear()

In [32]:
# Create sets
names1 = {'Corrin', 'Pedro', 'Khan', 'Dean'}
names2 = {'Emilia', 'Kara', 'Corrin', 'Tia'}
names3 = {'Karat', 'Kara', 'Karah', 'Khan'}
names4 = {'Khan', 'Dean', 'Pascale'}

# Union names1 and names2
result_set = names1.union(names2)

# Intersection btwn result_set and names3
result_set = result_set.intersection(names3)

# Difference btwn result_set and names4
result_set = result_set.difference(names4)

In [33]:
result_set

{'Kara'}

## 6. Dictionary

**dictionary**
A dictionary is a Python container used to describe associative relationships.

**dict**
A dictionary is represented by the dict object type.

**key**
A key is a term that can be located in a dictionary, such as the word "cat" in the English dictionary.
    
**value**
A value describes some data associated with a key, such as a definition.

In [36]:
players = {
    'Lionel Messi': 10,
    'Cristiano Ronaldo': 7
}

print(players)

{'Lionel Messi': 10, 'Cristiano Ronaldo': 7}

**del**

The **del keyword** is used to remove entries from a dictionary: del prices['papaya'] removes the entry whose key is 'papaya'.

#### Type conversion

In [37]:
input_text = input('Enter a number:\n')
float_variable = float(input_text)
int_variable = int(float_variable)

print(f'original input text: {input_text}')
print(f'input text converted to a float: {float_variable}')
print(f'float variable converted to an int: {int_variable}')

Enter a number:
 5

original input text: 5
input text converted to a float: 5.0
float variable converted to an int: 5